.promo {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.promo_img {
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(65%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
    z-index: 1;
}

.promo_img img {
    object-fit: cover; 
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) {
    .promo__text {
        width: 90%;
        padding: 0 20px;
    }

    .promo__title {
        font-size: 2rem;
    }

    .promo__derec {
        font-size: 1.5rem;
    }
}


@media (max-width: 1024px) {
    .promo__text {
        width: 85%;
    }

    .promo__title {
        font-size: 2.5rem;
    }

    .promo__derec {
        font-size: 1.8rem;
    }
}


@media (min-width: 1025px) {
    .promo__text {
        width: 80%;
    }

    .promo__title {
        font-size: 3rem;
    }

    .promo__derec {
        font-size: 2rem;
    }
}

    
    