.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #1A2024;
    color: white;
    padding: 20px;
    font-size: 18px;
    margin-top: 40px;
}

.footer__text {
    text-align: center;
    margin-bottom: 10px;
}

.scroll {
    border: none;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 10px 80px;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.social__btn  {
    justify-content: center;
    display:flex ;
    align-items: center;
    column-gap: 25px;
    right: 20px;
    padding: 18px 80px;
}


@media (max-width: 600px) {
    .footer {
      padding: 15px;
      font-size: 14px;
    }
  
    .scroll {
      padding: 10px 30px;
      font-size: 14px;
    }
  
    .social__btn {

      row-gap: 15px;
      padding: 10px 20px;
    }
  
    .footer__text {
      font-size: 14px;
    }
  }
  

  @media (min-width: 601px) and (max-width: 1024px) {
    .footer {
      padding: 18px;
      font-size: 16px;
    }
  
    .scroll {
      padding: 10px 50px;
      font-size: 15px;
    }
  
    .social__btn {
      column-gap: 20px;
      padding: 14px 40px;
    }
  }
  

  @media (min-width: 1440px) {
    .footer {
      padding: 30px;
      font-size: 20px;
    }
  
    .scroll {
      padding: 12px 100px;
      font-size: 18px;
    }
  
    .social__btn {
      column-gap: 30px;
      padding: 20px 100px;
    }
  }
  