.part {
    text-align: center;
    padding: 60px 0 55px;
}

.part__header {
    display: flex;
    color: white;  
    align-items: center;
    justify-content: center; 
    margin-top: 30px;
    margin-bottom: 30px;
}

.part__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
    column-gap: 440px;
    margin-top: 40px;
}

.part__muted {
    display: flex;
    color: white;  
    align-items: center;
    justify-content: center; 
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 1.5rem;
}


@media (max-width: 600px) {
    .part {
      padding: 30px 0 25px;
    }
  
    .part__header {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .part__list {
      flex-direction: column;
      row-gap: 20px;
      column-gap: 0;
      margin-top: 20px;
    }
  
    .part__muted {
      font-size: 1.2rem;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  

  @media (min-width: 601px) and (max-width: 1024px) {
    .part {
      padding: 50px 0 45px;
    }
  
    .part__header {
      margin-top: 25px;
      margin-bottom: 25px;
    }
  
    .part__list {
      column-gap: 150px;
      margin-top: 30px;
    }
  
    .part__muted {
      font-size: 1.3rem;
    }
  }
  

  @media (min-width: 1440px) {
    .part__list {
      column-gap: 440px;
      margin-top: 40px;
    }
  
    .part__muted {
      font-size: 1.5rem;
    }
  }
  