.news {
    padding-top: 20px;
    padding-bottom: 43px;
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;  
  margin-top: 30px;
  margin-bottom: 30px;
}

.news__card {
    display: flex;
    justify-content: space-between;
    color: white;
    column-gap: 40px;
}

.news__header h2 {
  font-size: 2rem;
}


@media (max-width: 600px) {
  .news {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .news__header {
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .news__header h2 {
    font-size: 1.5rem;
  }

  .news__card {
    flex-direction: column;
    row-gap: 20px;
  }
}


@media (min-width: 601px) and (max-width: 1024px) {
  .news {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .news__header {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .news__header h2 {
    font-size: 1.75rem;
  }

  .news__card {
    flex-direction: column;
    row-gap: 30px;
  }
}


@media (min-width: 1440px) {
  .news {
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .news__header h2 {
    font-size: 2.25rem;
  }

  .news__card {
    column-gap: 60px;
  }
}
